/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image:url("bgs1.png");
	background-repeat:no-repeat;
	background-size: 100%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.section {
    position: relative;
	width: 100%;
	display: block;
}
.section3 {
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("bgs3.png");
    position:relative;
	top: 300%;
	width: 100%;
	display: block;
	z-index: -1;
}

.section1 {
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("bgs1.png");
    position:absolute;
	width: 100%;
	display: block;
}

.section4 {
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("bgs4.png");
    position:relative;
	top: 100%;
	width: 100%;
	display: block;
}

.full-height {
	z-index: -1;
    height: 100vh;
}

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.con1{
position: absolute;
left: 8.95%;
right: 8.95%;
top: 94.56%;
bottom: -13%;
color: white;

background: #FFFFFF;
box-shadow: 0px 10px 24px rgba(63, 59, 86, 0.06);
border-radius: 12px;
}

.con2{
/* Our Products */

position: static;
width: 1920px;
height: 449px;
left: 0px;
top: 0px;
	
color: black;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 144px 0px;
}

.testing{
	
styleName: H1;
font-family: Red Hat Display;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

}

/* Text CCSS */

/* Why Go Ultra? */

.ta{

/* We’re Built Differently */


position: absolute;
width: 100vw;
height: 74px;
left: 138px;
top: 294px;

/* H0 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 74px;
/* identical to box height */


color: #25203F;
}

.t1 {
position: absolute;
width: 311px;
height: 61px;
left: 108px;
top:39px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 61px;
/* identical to box height */

color: #25203F;
}

.ta1{
	
	/* Experience uncompromising performance with our bare-metal servers. Let’s discuss what we can build and make possible for you */


position: absolute;
width: 578px;
height: 48px;
left: 138px;
top: 384px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: rgba(37, 32, 63, 0.8);
}

.b1t{
	
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 26px 12pX;
font-size: 15px;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #25203F;
border-radius: 4px;
color: white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.button1{
	
	/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 175px;
height: 44px;
left: 138px;
top: 480px;
}






.ourp{

position: relative;
width: 1920px;
height: 449px;
left: 40%;
right: 20%;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 144px 0px;
}

.ourptitle{
	
	/* Our Products */


position: relative;
width: 294px;
height: 61px;
left: 12%;
right: 20%;
top: 0px;

/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;

}

.ourpbody{
	
	/* Experience uncompromising performance with our bare-metal servers. Our servers by default are packaged with our Unlimited priority traffic plan */

align-content: center;
position: relative;
width: 681px;
height: 48px;
top: 16px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;

color: rgba(63, 59, 86, 0.8);
}

.ourpicon1{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/Database_perspective_matte.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}

.ourpicon2{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/Crown_perspective_matte.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}
.ourpicon3{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/Location_perspective_matte.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}
.ourpicon4{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/Settings_perspective_matte.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}
.ourpicon5{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/table-globe-4035948-3342373@0.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}
.ourpicon6{
	
position: relative;
width: 86px;
height: 86px;
left: 0px;
top: 14px;

background-image:url("Assets/Add_apps_perspective_matte 1.png");
background-size: 100%;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}


.iconcon{

display: grid;
grid-template-columns: auto auto auto;
align-items: flex-start;
position: relative;
width: 100vw;
left: -14%;
height: 120px;
right: 0px;
top: 85px;
}

.iconcon2{

display: grid;
grid-template-columns: auto auto auto;
align-items: flex-start;
position: relative;
width: 100vw;
left: -14%;
height: 120px;
right: 0px;
top: 85px;
}

.iconrow{
	
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 1266px;
height: 120px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}

.iconitem
{
position: relative;
width: 406px;
height: 120px;
left: 0px;
background: #FFFFFF;
border: 4px solid rgba(114, 114, 192, 0.12);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.iconn{
	
position: static;
width: 86px;
height: 86px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.6);
box-shadow: 4px 4px 24px rgba(114, 114, 192, 0.12);
border-radius: 300px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}

.icontext
{
position: relative;
width: 186px;
height: 86px;
left:90px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 29px;
display: flex;
align-items: center;
text-align: left;

color: #25203F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}



.ournetwork
{
position: relative;
width: 1920px;
height: 849px;
left: 0px;
top: 244px;
}

.ourntitle
{
	
position: absolute;
width: 282px;
height: 61px;
left: 230px;
top: 0px;

/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;
}

.nboxcon{
position: absolute;
width: 1584px;
height: 721px;
left: 167px;
top: 85px;

}

.ourncountrycon
{
position: absolute;
width: 500px;
height: 33px;
left: 198px;
top: 0px;
}
.ourncountrytext{
position: relative;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height */
top: 12px;
left: -55px;
color: #25203F
}
/* Column CSS */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.quadcol{
  float: left;
  width: 25%;
  padding:10px;
	
}
.fivecol
{
  float: left;
  width: 20%;
  padding:10px;
	
}
.tricol {
  float: left;
  width: 33.3%;
  padding:10px;
}
		
.doscol {
  float: left;
  width: 50%;
}

.doscolwbd {
	left: 100px;
  float: left;
  width: 50%;
}
		
.column {
  float: left;
  width: 35%;
  height: 100%;
}

.columnr {
  text-align: right;
  float: right;
  width: 65%;
  height: 100%;
}


.wbd{
	/* We’re Built Differently... */


position: relative;
width: 570px;
height: 61px;
top: 220px;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 61px;
margin-left: 550px;
/* identical to box height */


color: #25203F;
}

.wbdtextcon1
{
	/* Frame 91 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: relative;
width: 440px;
height: 358px;
top: 64px;
}

.wbdtextcon2
{
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
width: 440px;
height: 358px;
margin-left: 400px;
}
.wbdtext{
	/* Frame 90 */


position: static;
width: 384px;
height: 155px;
left: 96px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.wbdtitle
{
position: relative;
width: 300px;
height: 29px;
left: 75px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;

color: #25203F;
}

.wbdbody
{
position: relative;
width: 300px;
height: 110px;
left: 75px;
top: 10px;
margin-bottom: 30px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* or 137% */


color: rgba(37, 32, 63, 0.65);
}

.ourlocation{
position: relative;
width: 308px;
height: 61px;
top: -7px;
margin-left: 40%;
/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;
	
}

.ourlhead{
	
}
.ourlobody{
	
/* Experience uncompromising performance with our bare-metal servers. Our servers by default are packaged with our Unlimited priority traffic plan */


position: absolute;
width: 681px;
height: 48px;
left: 399px;
top: 79px;

/* Subheader */

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;

color: rgba(63, 59, 86, 0.8);
	
}

.contactcon
{
position: absolute;
width: 533px;
height: 430px;
left: 55%;
top: 170px;

background: linear-gradient(101.08deg, rgba(219, 233, 253, 0.8) 0.87%, rgba(203, 199, 255, 0.8) 47.85%, rgba(228, 202, 255, 0.8) 100%);
box-shadow: 0px 16px 24px rgba(37, 32, 63, 0.08);
border-radius: 12px;
}

.conttext{
/* Frame 131 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 100%;
left: 56px;
top: 44px;
}

.conttitle1{
	
position: relative;
width: 100%;
height: 42px;
left: 0px;
top: 75px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;

color: #25203F
}

.contbody{
position: absolute;
width: 100%;
height: 42px;
left: 0px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;

color: #25203F
}

.continitial{
	
position: static;
width: 100%;
left: 0px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #25203F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px;
}

.continitial1{
	
position: relative;
width: 100%;
left: 0px;
margin-top: 85px;
top:40px;
font-family: Red Hat Display;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #25203F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px;
}

.contnext{
	
position: relative;
width: 202px;
height: 24px;
margin-top: 40px;
font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #25203F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.contnext1{
	
position: inherit;
width: 202px;
height: 24px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #25203F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.ultracon{
	
	/* Frame 24 */


/* Auto layout */
	
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto auto;

position: relative;
width: 975px;
height: 54px;
left: 505px;
}

.ultraicon1{
	
position: relative;
width: 35px;
height: 35px;
left: 0px;
margin-left: 40px;

background-image: url("Assets/Unlimited.png");
background-size: 100%;
}

.ultraicon2{
	
position: relative;
width: 35px;
height: 35px;
left: 0px;
margin-left: 80px;

background-image: url("Assets/Lan.png");
background-size: 100%;
}

.ultraicon3{
	
position: relative;
width: 35px;
height: 35px;
left: 0px;
margin-left: 80px;

background-image: url("Assets/Dedicated.png");
background-size: 100%;
}

.ultraicon4{
	
position: relative;
width: 35px;
height: 35px;
left: 0px;
margin-left: 80px;

background-image:url("Assets/Support.png");
background-size: 100%;
}

.ultratext{
	
position: relative;
width: 178px;
height: 48px;
left: 44px;
top: -5px;

font-family: Red Hat Display;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* or 133% */

letter-spacing: 0.03em;

color: rgba(37, 32, 63, 0.9);
}

.grid-container {
	
  left: 240px;
  top: -15px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  position:absolute;
width: 100%;
height: 54px;
}

.grid-item {
  padding: 20px;
  text-align: left;
}

.ccon
{
top:20px;
padding: 12px 0px;
display: grid;
column-gap: 0px;
grid-template-columns: auto auto auto;
}

.countrycon{
position: relative;
width: 130px;
height: 48px;
left: -200px;
top: 30px;
margin-right: 30px;
background: #F2F2F8;
border-radius: 8px;

}

.countrycontext
{
align-content: center;
position: absolute;
width: 100px;
height: 24px;
left: 30px;
top: 13px;

font-family: Red Hat Display;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #25203F;
}

.pitemcon{
position: relative;
width: 1584px;
height: 540px;
left: 167px;
top: 302px;
}

.pitemcontainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  position: absolute;
  top: 225px;
  left: -14%;
}

.pitemconi1{
	
position: relative;
width: 300px;
height: 547px;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 10px 24px rgba(37, 32, 63, 0.08);
border-radius: 8px;
}

.pitemtext1{
	
position: absolute;
width: 100%;
height: 97px;
left: 0px;
top: 0px;

background: #FFDA7C;
}

.leftt
{
	margin-left: 20px;
	margin-right: 20px;
}

.pitemconi1text{
position: absolute;
width: 300px;
height: 58px;
background-color: #FFDA7C ;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 29px;
border-radius: 8px 8px 0px 0px;
color: #25203F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
	
}

.pitemcol{
float: left;
width: 50%;
}

.pitemcoltext{
margin-top: 20px;	
font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
margin-left: 10px;
}

.pitemcoltextr{
margin-top: 20px;
font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
margin-right: 10px;
text-align: right;
}

.ava{
	font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: rgba(37, 32, 63, 0.65);
margin-top: 20px;
}

.avar{
	font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: rgba(37, 32, 63, 0.65);
margin-top: 20px;
text-align: right;
}

.pricel{
margin-top: 10px;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
color: #2CCB58;
}

.pricer{
margin-top: 10px;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
align-items: center;
text-align: right;
text-decoration-line: line-through;

color: #25203F;
}

.smol
{
	font-size: 13px;
}

.disc{
position: absolute;
width: 100%;
font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-align: center;
top: 300px;
	
}

.comingsoon
{
left: 23%;
align-items: center;
position: absolute;
width: 165px;
height: 44px;
top: 380px;
}

.csbtn{
	
padding: 10px 0px 10px 14px;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #25203F;
border-radius: 4px;
color: white;

margin: 0px 0px;
}

.wbdicon1{
position: absolute;
width: 56px;
height: 53px;
left: 0px;
margin-left: 0px;

background-image: url("Assets/Frame 87.png");
background-size: 100%;

}

.wbdicon2{
position: absolute;
width: 56px;
height: 53px;
left: 0px;
margin-left: 0px;

background-image: url("Assets/Trophy_perspective_matte.png");
background-size: 100%;

}

.wbdicon3{
position: absolute;
width: 56px;
height: 53px;
left: 0px;
margin-left: 0px;

background-image: url("Assets/table-globe-4035948-3342373@0.png");
background-size: 100%;

}

.wbdicon4{
position: absolute;
width: 56px;
height: 60px;
left: 0px;
margin-left: 0px;

background-image: url("Assets/pyramid-graph.png");
background-size: 100%;

}

.wbdtitle2
{
position: relative;
width: 250px;
height: 29px;
left: 75px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;

color: #25203F;
}

.wbdbody2
{
position: relative;
width: 300px;
height: 110px;
left: 75px;
top: 10px;
margin-bottom: 30px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* or 137% */


color: rgba(37, 32, 63, 0.65);
}

.hlogo{

z-index: 1;
position: absolute;
width: 151px;
height: 70px;
left: 138px;
top: 14px;

background-image:url("Assets/hlo.png");
background-size: 100%;
}

.btn-group button {
top: 20px;
position: relative;
left: 400px;
align-content: right;
background-color: transparent;
border: none;
padding: 10px 24px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */
font-family: Red Hat Display;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #25203F;
z-index: 1;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.hbutton{
	
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 26px 13px;
position: absolute;
left: 1065px;
right: 0%;
top: 17px;
height: 44px;
bottom: 0%;
background: #7272C0;
border-radius: 4px;
color: white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.buttonh{
	
	/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 146px;
height: 44px;
left: 138px;
margin-top: -20px;
}

.footer {
position: absolute;
color: white;
background-color: #25203F;
padding: 10px;
text-align: center;
height: 138;
font-family: Red Hat Display;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) 
{

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 800px) 

{
	.ultraicon1
	{
		margin-left: 80px;
	}
	
		.doscol
	{
		width: 100%;
	}
	
	.section3
	{
		background-color: aqua;
	}
	
	.ta
	{
		left: 10%;	
	}
	
	.ta1{
		left: 10%;
		width: 80vw;
	}
	
	.button1
	{
		left: 10%;
	}
	
	.hlogo
	{
		left: 10%;	
	}
	.btn-group
	{
		display: none;
	}
	.grid-container
	{
		grid-template-columns: auto auto;
		left: -35%;
		top: 105%;
		width: 60vw;
	}
	
	.con1
	{
		top: 70%;
		height: 80px;
		background-color: transparent;
		border-bottom-style: none;
		box-shadow: none;
		border-radius: 0px;
		
	}
	.t1
	{
		top: 10%;
		font-size: 35px;
		left: 0px;
	}
	.ta1{width: 80vw}
	
	.ultraicon1{
		mergin-left: 5%;
	}
	
	.ourp
	{
		top: 80%;
		text-align: left;
		width: 80vh;
		left: 0%;
	}
	
	.ourptitle
	{
		text-align: left;
		left: 0px;
	}
	
	.ourpbody
	{
		text-align: left;
		left: 0px;
		width: 80vw;
	}
	.iconrow
	{
		flex-direction:column;
	}
	
	.iconcon
	{
		width: 80vw;
		margin-bottom: 30px;
	}
	
	.iconitem
	{
		width: 60vw;
		height: 50px;
		left: 5%;
		border-radius: 0px;
		border: none;
	}
	.ourpicon1
	{
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.ourpicon2
	{
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.ourpicon3
	{
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.ourpicon4
	{
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.ourpicon5
	{	
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.ourpicon6
	{
		top: 0px;
		width: 43px;
		height: 43px;
	}
	.icontext{
		height: 50px;
		left: 30px;
		font-size: 18px;
		width: 80vw;
	}
	
	.iconcon{
		grid-template-columns: column;
	}
		.iconcon2{
		grid-template-columns: column;
	}
	
	.ournetwork
	{
		width: 80vw;
		top: 160px;
	}
	
	.ourntitle
	{
		left: 0px;
	}
	.nboxcon
	{
		left: 0px;
	}
	.ourncountrycon
	{
		left: 0px;
	}
	.ourncountrytext
	{
		left: 0px;
	}
	.ccon
	{
		left: 0px;
		margin-left: 0px;
	}
	.countrycon
	{
		left: 0px;
	}
	
	
	.ourlocation
	{
		width: 80vw;
		margin-left: 0%;
		left: 10%;
		position: absolute;
	}
	.ourlobody
	{
		text-align: left;
		width: 80vw;
		left: 10%;
	}
	.contactcon
	{
		width: 80vw;
		left: 10%;
		height: 425px;
	}
	
	.section3
	{
		background-image: url("../Beta/Assets/bg3m.png")
	}
	.wbd
	{
		width: 80vw;
		margin-left: 0px;
		left: 10%;
		top: 0px;
		font-size: 30px;
	}
	
	.doscol 
	{
  		float: left;
  		width: 80vw;
  		padding: 10px;
  		height: 100%;
	}
	
	.wbdicon1
	{
		left: 0%;
		margin-left: 0px;
	}
	.wbdtitle
	{
		left: -50px;
	}
	.wbdbody
	{
		left: 0px;
	}
	.wbdtextcon1
	{
		left: 0px;
		margin-left: 0px;
		top: 10px;
	}
	.wbdtextcon2
	{
		left: 0px;
		margin-left: 0px;
		top: 100%;
	}
	
	.pitemcontainer
	{
		width: 90vw;
		grid-template-columns: auto auto;
		left: -5%;
		height: 547px;
		background-attachment: scroll;
	}
	.pitemconi1
	{
		height: 40vh;
		width: 40vw;
		margin-bottom: 50px;
	}
	.nboxcon
	{
		height: 200vh;
	}
	.comingsoon
	{
		display: none;
	}
	.pitemcol
	{
		width: 20vw;
	}
	.pitemconi1text
	{
		width: 40vw;
	}
	.disc
	{
		padding-top: 5px;
	}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


