/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image:url("bgs1.png");
	background-repeat:no-repeat;
	background-size: 100%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.section {
    position: relative;
	width: 100%;
	display: block;
}
.section3 {
	background-repeat:no-repeat;
	background-size: 100%;
	background-image:url("bgs3.png");
    position:relative;
	top: 275%;
	width: 100%;
	display: block;
}

.section1 {
	background-repeat:no-repeat;
	background-size: 100%;
	background-image:url("bgs1.png");
    position:absolute;
	width: 100%;
	display: block;
}

.section4 {
	background-repeat:no-repeat;
	background-size: 100%;
	background-image:url("bgs4.png");
    position:relative;
	top: 100%;
	width: 100%;
	display: block;
}

.full-height {
    height: 100vh;
}

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

.con1{
position: absolute;
left: 8.95%;
right: 8.95%;
top: 94.56%;
bottom: -13%;
color: white;

background: #FFFFFF;
box-shadow: 0px 10px 24px rgba(63, 59, 86, 0.06);
border-radius: 12px;
}

.con2{
/* Our Products */

position: static;
width: 1920px;
height: 449px;
left: 0px;
top: 0px;
	
color: black;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 144px 0px;
}

.testing{
	
styleName: H1;
font-family: Red Hat Display;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

}

/* Text CCSS */

/* Why Go Ultra? */

.ta{

/* We’re Built Differently */


position: absolute;
width: 100vw;
height: 74px;
left: 138px;
top: 294px;

/* H0 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 74px;
/* identical to box height */


color: #25203F;
}

.t1 {
position: absolute;
width: 311px;
height: 61px;
left: 108px;
top: 44px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */

color: #25203F;
}

.ta1{
	
	/* Experience uncompromising performance with our bare-metal servers. Let’s discuss what we can build and make possible for you */


position: absolute;
width: 578px;
height: 48px;
left: 138px;
top: 384px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: rgba(37, 32, 63, 0.8);
}

.b1t{
	
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 26px 12pX;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #25203F;
border-radius: 4px;
color: white;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.button1{
	
	/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 165px;
height: 44px;
left: 138px;
top: 480px;
}






.ourp{

position: relative;
width: 1920px;
height: 449px;
left: 20%;
right: 20%;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 144px 0px;
}

.ourptitle{
	
	/* Our Products */


position: relative;
width: 294px;
height: 61px;
left: 15%;
right: 20%;
top: 0px;

/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;

}

.ourpbody{
	
	/* Experience uncompromising performance with our bare-metal servers. Our servers by default are packaged with our Unlimited priority traffic plan */

align-content: center;
position: relative;
width: 681px;
height: 48px;
left: 5%;
right: 20%;
top: 16px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;

color: rgba(63, 59, 86, 0.8);
}


.iconcon{

display: grid;
grid-template-columns: auto auto auto;
align-items: flex-start;
position: relative;
width: 100vw;
height: 264px;
left:  -11%;
right: 0px;
top: 185px;
}

.iconcon1{

display: grid;
grid-template-columns: auto auto auto;
align-items: flex-start;
position: relative;
width: 100vw;
height: 264px;
left:  -85%;
right: 0px;
top: 134px;
}

.iconrow{
	
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 1266px;
height: 120px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}

.iconitem
{
position: static;
width: 406px;
height: 120px;
left: 0px;
top: 20px;
bottom: 0px;
	
background: #FFFFFF;
border: 4px solid rgba(114, 114, 192, 0.12);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.iconn{
	
position: static;
width: 86px;
height: 86px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.6);
box-shadow: 4px 4px 24px rgba(114, 114, 192, 0.12);
border-radius: 300px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 36px;
}

.icontext
{
position: static;
width: 186px;
height: 86px;
left: 0px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 29px;
display: flex;
align-items: center;
text-align: left;

color: #25203F;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}



.ournetwork
{
	position: absolute;
width: 1920px;
height: 849px;
left: 0px;
top: 0px;
}

.ourntitle
{
	
position: absolute;
width: 282px;
height: 61px;
left: 792px;
top: 0px;

/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;
}

/* Column CSS */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.quadcol{
  float: left;
  width: 25%;
  padding:10px;
	
}
.fivecol
{
  float: left;
  width: 20%;
  padding:10px;
	
}
.tricol {
  float: left;
  width: 33.3%;
  padding:10px;
}
		
.doscol {
  float: left;
  width: 50%;
}
		
.column {
  float: left;
  width: 35%;
  height: 100%;
}

.columnr {
  text-align: right;
  float: right;
  width: 65%;
  height: 100%;
}


.wbd{
	/* We’re Built Differently... */


position: relative;
width: 490px;
height: 61px;
top: 290px;
font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
margin-left: 550px;
/* identical to box height */


color: #25203F;
}

.wbdtextcon1
{
	/* Frame 91 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: relative;
width: 480px;
height: 358px;
top: 64px;
}

.wbdtextcon2
{
top: -290px;
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
width: 480px;
height: 358px;
margin-left: 550px;
}
.wbdtext{
	/* Frame 90 */


position: static;
width: 384px;
height: 155px;
left: 96px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.wbdtitle
{
position: relative;
width: 271px;
height: 29px;
left: 0px;
top: 0px;

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 29px;

color: #25203F;
}

.wbdbody
{
position: relative;
width: 384px;
height: 110px;
left: 0px;
top: 10px;

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* or 137% */


color: rgba(37, 32, 63, 0.65);
}

.ourlocation{
position: relative;
width: 308px;
height: 61px;
top: -7px;
margin-left: 40%;
/* H1 */

font-family: Red Hat Display;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 61px;
/* identical to box height */


color: #25203F;
	
}

.ourlhead{
	
}
.ourlobody{
	
/* Experience uncompromising performance with our bare-metal servers. Our servers by default are packaged with our Unlimited priority traffic plan */


position: absolute;
width: 681px;
height: 48px;
left: 399px;
top: 79px;

/* Subheader */

font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;

color: rgba(63, 59, 86, 0.8);
	
}

.contactcon
{
position: absolute;
width: 533px;
height: 530px;
left: 55%;
top: 170px;

background: linear-gradient(101.08deg, rgba(219, 233, 253, 0.8) 0.87%, rgba(203, 199, 255, 0.8) 47.85%, rgba(228, 202, 255, 0.8) 100%);
box-shadow: 0px 16px 24px rgba(37, 32, 63, 0.08);
border-radius: 12px;
}